version: '3.8'

networks:
  ddd-network:
    driver: bridge

services:
  customer-service:
    build:
      context: ./customer-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      SERVER_PORT: 8081
    networks:
      - ddd-network
    container_name: ddd-customer-service

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      SERVER_PORT: 8082
      CUSTOMER_SERVICE_URL: http://ddd-customer-service:8081 # Docker internal DNS
    networks:
      - ddd-network
    depends_on:
      - customer-service
    container_name: ddd-order-service

  prometheus:
    image: prom/prometheus:latest
    container_name: ddd-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - ddd-network
    depends_on:
      - customer-service
      - order-service

  grafana:
    image: grafana/grafana:latest
    container_name: ddd-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - ddd-network
    depends_on:
      - prometheus

volumes:
  prometheus-data:
  grafana-data:
